{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <h1>{{title}}</h1>

    {% if messages %} <!--comprobamos que un mensaje sea true-->
    
        {% for message in messages %} <!--recorremos el mensaje-->
            <div class="alert alert-warning"> 
                {{message}} <!--mostramos mensaje-->
            </div>
        {% endfor %}
    
    {% endif %}

    <form method='POST' action="">
        {% csrf_token %}

        <label for="username"/>Nombre de Usuario</label>
        <input type="text" name="username"/>

        <label for="password"/>Contraseña</label>
        <input type="password", name="password">

        <input type="submit" value="Login"/>
    </form>

{% endblock %}