<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        
        {% endblock %}
        | Ulises Vallejos
    </title>
    
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>
</head>

<body>
    <!--Cabecera de la página-->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <img src="{% static 'images/logo.png' %}"/>
            <h1>Proyecto Blog</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a> <!--aquí estamos poniendo como url el nombre de la url asignado en el archivo urls.py-->
            </li>
            {% if user.email %}
            <li>
                <a href="{% url 'list_articles' %}">Categorías</a> <!--aquí estamos poniendo como url el nombre de la url asignado en el archivo urls.py-->
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category.0 %}">{{category.1}}</a> <!--aquí estamos poniendo como url el nombre de la url asignado en el archivo urls.py-->
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% for page in pages %}
            <li>
                <a href="{% url 'page' page.2 %}">{{page.1}}</a> 
            </li>
            {% endfor %}
            <li>
                <a href="{% url 'logout' %}">Cerrar sesion</a>
            </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a> <!--aquí estamos poniendo como url el nombre de la url asignado en el archivo urls.py-->
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">

        <div class="box">
        {% block content %}
            <!--Código que viene de templates-->
            <strong>Contenido del bloque original!!</strong>
        {% endblock %}
        </div>
        
    </div>

    <footer>
        Master en Python &copy; Ulises Vallejos - {% now "d-m-Y" %}
    </footer>
</body>

</html>